# Secret keys
serviceAccountKey.json

# Python
__pycache__/
*.py[cod]
*.env
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# Flutter – All sub-projects
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/*.iml
**/android/build/
quick_remote_watch/android/app/google-services.json

# OS
Thumbs.db
.DS_Store
